/* Time for CSS! We'll use the Imprima font from google
web fonts */
@import url(http://fonts.googleapis.com/css?family=Imprima);

body {
	background: #323232;
	font-family: 'Imprima';
	font-size: 76%;
}

/* Styling the widget */
#widget {
	/* Width is adjustable, you can increase/decrease
	it and the menu will resize fine when we are done! */
	width: 200px;
	margin: 50px auto;
    float:left;
	box-shadow: 0 0 5px #FAC9A5;
}

/* heading */

h1 {
	background: linear-gradient(#FF9240, #9C5D0B);
	color: #444;
	padding: 15px;
	margin: 0;
	border: 1px solid #FAC9A5;
	/* fixing the double border */
	border-bottom: 0;
	
	font-family: Verdana;
	font-size: 1.5em;
}

/* Lets give "Deck" a different color */
h1 .highlight {
	color: #fff;
}

/* Onto the Menu (Listing) Now! */

.menu {
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu a {
	display: block;
	text-decoration: none;
	color: #fff;
	font-size: 1.2em;
	padding: 10px;
	
	background: linear-gradient(#FFE3CF,#FFBC8A);
	
	border: 2px solid #ffffff;
	border-bottom: 0;
	/* little box shadow too! */
	box-shadow: inset 0px 1px 1px #FAC9A5;
}

/* time for some hover effects for the menu links */
.menu a:hover {
	background: linear-gradient(#5E2A04,#804216);
	box-shadow: inset 0px 1px 1px #475059;
    color: #000;
}

/*
we'll also show an arrow on hover. we can use
an image for this task, or make a css icon too.
But i am just going to keep it simple and use
a unicode character.
*/

.menu a:hover::after {
	content: '>';
	float: right;
	color: gray;
}

/* different bg color on the active state
will be nice too! */
.menu a:active {
	background: linear-gradient(#2b442d, #2d4630);
}


/*
things have come along nicely!
finally, we have some controls (you can call
them something else), that we'll style.
*/

.controls {
	list-style: none;
	padding: 0; margin: 0;
	
	border: 1px solid #1e222b;
	border-top: 0;
	
	/* we are using display table so that
	we can have 1 or 2 or 3 list items that can have
	equal width and take up the entire width of the
	`ul.controls`*/
	display: table;
	
	width: 100%;
}

.controls li {
	display: table-cell;
	height: 50px;
	
	background: linear-gradient(#303D50 0%, #293542 50%, #1F2935 50%, #182028 100%);
}

.controls .call {
	text-align: center;
	vertical-align: middle;
}

.controls .call a {
	color: #fff;
	text-decoration: none;
	font-size: 2em;
}

/* The entire thing looks great now! :)
Finaly, we'll just add some box shadow to the
container. */